<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
  <span>
    <button mat-button class="button-space" (click)="mainDisplay = true">
    <mat-icon class="button-inner-space">home</mat-icon>
      Home
    </button>
    <button mat-button class="mat-body" (click)="mainDisplay = false">
      <mat-icon class="button-inner-space">timeline</mat-icon>
        Data Tables
    </button>
  </span>
    <span class="align-right">
  </span>
    <span>
    <button mat-button (click)="click()">
      <mat-icon class="button-inner-space">code</mat-icon>
      See on Github
    </button>
  </span>

  </mat-toolbar-row>
</mat-toolbar>
<div class="main-content less-margins">
  <div *ngIf="mainDisplay">
    <div class="header-center">
      <div class="mat-display-2">
        Rochester, New York
      </div>
      <div class="mat-headline">
        The Flour city
      </div>
      <div class="mat-body">
        The history of early Rochester and the rise and fall of the Flour City
      </div>
    </div>
    <mat-divider class="line-gap"></mat-divider>
    <mat-card>
        <div class="header-center">
          <div class="mat-headline">
            Founding of Rochester
          </div>
          <div class="mat-subheader">
            1781 - 1825
          </div>
        </div>

        <div class="mat-body">
          The History of Rochester begins with the history of the Genesee Valley.
          Originally inhabited Seneca Tribe of Native Americans. In 1789 the first mill was constructed a deal
          for land was made with the Seneca tribe in exchange for mill usage.
          The geography of the area lent a hand to its growth, fertile lands surround the Genesee, while the
          river itself has powerful waterfalls. These waterfalls would attract the attention of Col. Nathan Rochester
          who saw more potential for the Genesee Valley. The Rochester and the Brown families would combine
          their efforts in 1811 and founded the town that would go on to be Rochester. The newly created Rochesterville
          (the -ville was dropped soon after) housed a
          population of 700 people. The areas powerful falls and easy connection to Lake Ontario made shipping
          products easier because the mills close location to areas suitable to dock ships and rafts.
        </div>
    </mat-card>
    <mat-divider class="line-gap"></mat-divider>
    <mat-card>
      <div class="header-center">
        <div class="mat-headline">
          Rise of the Millling Industry
        </div>
        <div class="mat-subheader">
          1825 - 1834
        </div>
      </div>

      <div class="mat-body">
        The canal completed in 1825 was easily the largest public works project of the young United States.
        Its 350 miles of waterways allowed the canal barges to ship goods east-west at fraction of its former prices.
        The plans for the canal involved a stone aqueduct which carried the canal though the heart of Rochester
        and across the Genesee river. Rochester would become a central trading spot for years to come.
        Before the canal the transportation of goods from Albany to Buffalo cost $60 per ton, after the canal
        it fell to $10. This allowed for the Rochester flour mills to have larger radius
        they could cost effectively ship to. By 1826 only one year after the canal was build the mills were
        shipping 202,000 barrels of flour in a year. Flour accounted for 800,000 dollars of canal exports from
        Rochester 2/3rds of the total value of the city’s exports.
      </div>
    </mat-card>
    <mat-divider class="line-gap"></mat-divider>
    <mat-card>
      <div class="header-center">
        <div class="mat-headline">
          The Flour City
        </div>
        <div class="mat-subheader">
          1834 - 1954
        </div>
      </div>
      <div class="mat-body">
        Rochester officially became a city in 1834 marking the official start of the “Flour City”
        The flour city name was given to Rochester in the 1930’s for it becoming worldwide renown for not only
        flour production but quality. 1837 crop failure in the Baltimore area and tied with the creation of two
        new mills in Rochester, the city became the largest flour producing city in the US with production around
        500,000 barrels annually. Flour production however was growing westward now that
        rail lines started to connect Ohio to larger ports and the increase of streamliners
        trading on the great lakes and Mississippi. While Rochester’s production was higher
        than ever new production centers caused havoc in the prices. The high price in January 1829 was
        8.25 a barrel with prices falling as low as 5.60 during the year and 4.50 for a year low in 1831,
        making the milling industry a risky business to invest in.
      </div>
    </mat-card>
    <mat-divider class="line-gap"></mat-divider>
    <mat-card>
      <div class="header-center">
        <div class="mat-headline">
          Fall of the Milling Industry
        </div>
        <div class="mat-subheader">
          1854 - Onward
        </div>
      </div>
      <div class="mat-body">
        Rochester milling industry ultimately declined from the expansion of America westward, while Rochester was
        certainly a booming city, Buffalo and Cleveland were growing faster driving investment in these more
        western cities. The original Col. Rochester’s son would leave the milling industry and move to California
        in search of gold. The city of Rochester would ultimately shift to other industries as the city become more
        industrialized. Even at its peak in the 30’s Rochester’s milling only every consistently employed a max of
        around 300 people and the city would soon be known for other things. Mt. Hope Nurseries was established in 1840
        and would start the path to Rochester next cause of national renown this time as the Flower City.
        Rochester’s milling industry didn’t completely go bust and would remain the “Flour City” all the way until 1954.
        by 1951 Rochester produced the 561k barrels of flower the most of any city in the world.
        But it was soon taken over by Minneapolis after poor wheat crops in the ‘50 reduced mill production below capacity.
      </div>
    </mat-card>

  </div>
  <!--DATA TABLES GO HERE-->
  <div *ngIf="!mainDisplay">
    <app-high-low></app-high-low>
  </div>
</div>
<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <mat-icon class="icon">person</mat-icon>
    <div class="mat-body">
      Developed by Ian Montgomery (2019)
    </div>
  </mat-toolbar-row>
</mat-toolbar>
