.header-center {
  text-align: center;
}

.less-margins {
  div {
    margin: 10px;
  }
}

.line-gap {
  margin-top: 25px;
  margin-bottom: 25px;
}

.align-right {
  flex: 1 1 auto;
}

.button-space {
  margin-right: 5px;
}

.button-inner-space {
  margin-right: 3px;
}

.main-content {
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 15%;

}

.header {
  top: 0;
  position: sticky;
  z-index: 1;
}

.footer {
  bottom: 0;
  position: relative;
  text-align: center;

}

.icon {
  padding: 0 14px;
}
